<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title></title>
		<link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body>
<header>
	<h1>Edit <%=post.descr%> Info</h1>
	<nav>
		<ul>
			<li>
		<a href="/posts">Post Index</a> <br/>
		</li>
		<li><a href="/">Home</a>
		</li>
		<li>
 				<a href="session/logout">Logout</a>
 			</li>
		</ul>
		</nav>
		</header>
		<main>
		<h2>Post Attributes:</h2>
		<form action='/posts/<%=post._id%>?_method=PUT' method="POST">


			<select name="memberId">
                    <% for(let i = 0; i < members.length; i++) { %>
                        <option
							value="<%=members[i]._id%>"
							<% if(members[i]._id.toString() === postCreator._id.toString()){ %>
								selected
							<% } %>
							>
							<%=members[i].name%>
						</option>
                    <% } %>
                </select><br/>






			Description: <input type="text" name="descr" value="<%=post.descr%>"/> <br/>
			Image: <input type="text" name="img" value="<%=post.img%>"/> <br/>
			Category: <input type="text" name="category" value="<%=post.category%>"/> <br/>
			Sound: <input type="text" name="sound" value="<%=post.sound%>"/> <br/>
			
			<input type="submit" value='Update Post'/>
		</form>
		</main>
</body>
</html>