<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../main.css">
	
	<!-- ../main.css -->
</head>
<body>
<header>
 <h1><%=post.title%></h1>
 <small>
				by:
				<a href="/members/<%=member._id%>"><%=member.username%></a>

			</small>
<nav class="navbar navbar-default">
<div class="container-fluid">
 	<ul class="nav navbar-nav">
 		<li>
 			<a href="/posts">Posts Index</a>

 		</li>
 			<li>
 			<a href="/">Home</a>
 			</li>
 			<li>
 				<a href="session/logout">Logout</a>
 			</li>
 	</ul>
 	</div>
 </nav>
</header>
<main>
	<section>
		<h2>Post Attributes:</h2>
		<ul>
			<li><%=post.title%></li>
		 	<li><img class="imagePost" src="<%=post.img%>"></li>
		 	<li>Description:  <%=post.descr%></li>
		 	<li>Category:  <%=post.category%></li>
		 	<li>Demo: <a href="<%=post.sound%>">YouTube</a></li>
		</ul>
	</section>
	<section>
		<button class ="btn"><a href="/posts/<%=post.id%>/edit">Edit This Post</a>
		</button>
	</section>
	<br>
	<section>
		<form action ='/posts/<%=post.id%>?_method=DELETE' method='POST'>
			<input type="submit" value="Delete This Post">
		</form>
	</section>

	<section>
	
	</section>
</main>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>